/* New Categories */

.category__position {
  position: relative;
  display: table;
  width: 100%;
}

.category__position--right {
  background-color: #f5efda;
  /* float: left; */
  padding: 3%;
  /* position: relative; */
  width: 70%;
  /* height: 100%; */
  display: table-cell;
  /* margin-top: 5%; */
}

.category__position--left {
  background-color: #09cc77;
  width: 30%;
  display: table-cell;
  /* transform: translateX(-18rem); */
}

/* .category__all {
  width: 100%;
  height: 112.5vh;
  color: #494850;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  position: relative;
  padding: 0.7rem 2rem;
} */


/* .category__all:nth-child(1) {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem;
}

.category__all:nth-child(3) {
  display: inline;
}

.category__all:nth-child(1) a {
  margin: 0.2%;
  font-family: cooperative_sans;
} */

/* div .category__menu {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 2rem;
  font-family: RL_madena;
} */

/* .category_all--h1 {
  font-size: 3rem;
  color: #494850;
  letter-spacing: 0.1rem;
  margin-left: 4.5%;
  margin-top: 4%;
} */

/* ul .category__menu--items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.7rem;
  color: #494850;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
} */

/* .category__menu--item {
  margin: 1rem;
  padding: 1rem;
} */

/* .category__menu--item>button {
  text-decoration: none;
  color: #494850;
  all: unset;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
} */

/* .category__menu--item>button:hover {
  color: #f5efda;
} */

.category__products {
  padding-bottom: 0;
  display: inline-block;
}

.category__section h1 {
  font-size: 3rem;
  padding: 1%;
  font-family: RL_madena;
  letter-spacing: 0.5rem;
  color: #494850;
}

.category__product {
  width: 30%;
  background-color: #09cc77;
  margin: 1.5%;
  padding: 0;
  border-radius: 30px;
  padding-bottom: 0.1rem;
  display: inline-block;
  text-decoration: none;
}

.category__product:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.3rem rgba(0, 0, 0, 0.2);

}

.category__product:active {
  transform: translateX(-0.1rem);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.category__product--image img {
  /* width: 100%;
  height: 30%; */
  width: 19.2vw;
  height: 35vh;
  margin: 0;
  padding: 0;
  border: #07cc77 solid 2px;
  border-bottom: 0px;
  border-radius: 30px;
}

.category__product--description {
  background-color: #f5efda;
  border: #09cc77 solid 2px;
  border-top: 0px;
  border-radius: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: cooperative_sans;
  color: #494850;

}

.category__product--description p {
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;

}

.chevron__bottom {
  bottom: 0;
  right: 0;
  margin: 20% 0% 0 90%;
}

.stickers,
.notebooks,
.notepads,
.art__prints,
.upcoming {
  display: none;
}

.border__left {
  position: relative;
}

.border__left::after {
  background: linear-gradient(45deg, #09cc77 1.2rem, transparent 0%),
    linear-gradient(-45deg, #09cc77 1.2rem, transparent 0%);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 3rem;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 76rem;
  height: 2.5rem;
  transform: rotate(90deg) translate(-36.5rem, 37rem);
  z-index: 20;
}

.category__slide {
  height: 100%;
  position: absolute;
  transition: 0.5s ease;
  /* display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 2rem; */
  font-family: RL_madena;
  margin-left: 5%;
  /* transform: translateX(-18rem); */
}

.category__slide h1 {
  font-size: 3rem;
  padding: 1%;
  font-family: RL_madena;
  letter-spacing: 0.5rem;
  color: #494850;
}

.category__slide--ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.7rem;
  color: #494850;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.category__slide--li {
  margin: 1rem;
  padding: 1rem;
}

.category__slide--li button {
  text-decoration: none;
  color: #494850;
  all: unset;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.category__slide--li button :hover {
  color: #f5efda;
}

.checkbox {
  display: none;
}



/* Media query for screens smaller than 780px */
@media (max-width: 780px) {

  .category {
    float: none;
    width: 100%;
    height: auto;
    max-height: 60rem;
  }

  .category__all {
    width: 80%;
  }

  .category__section {
    width: 100%;
    padding: 5%;
    margin-top: 0;
  }

  .category__product {
    width: 50%;
    margin: 3% 25%;
  }

  .category__product--image img {
    width: 100%;
    height: 50vh;
  }

  .border__left::after {
    display: none;
  }

  .category__position {
    display: block;
  }

  /* .category__position--right {
    display: block;
    width: 100%;
  } */

  /* .category__position--left {
    display: block;
   
  } */

  .category__slide {
    position: fixed;
    transform: translateX(-18rem);
  }

  .toggle {
    position: absolute;
    height: 3rem;
    width: 3rem;
    left: 2rem;
    top: 9rem;
    z-index: 5;
    cursor: pointer;
  }

  .toggle .common {
    position: absolute;
    height: 0.2rem;
    width: 2rem;
    background-color: #494850;
    border-radius: 50%;
    transition: 0.3s ease;
    z-index: 100;
  }

  .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input:checked~.toggle .top_line {
    left: 0.2rem;
    top: 1.4rem;
    width: 2.5rem;
    transform: rotate(45deg);
  }

  input:checked~.toggle .bottom_line {
    left: 0.2rem;
    top: 1.4rem;
    width: 2.5rem;
    transform: rotate(-45deg);
  }

  input:checked~.toggle .middle_line {
    opacity: 0;
    transform: translateX(2rem);
  }

  input:checked~.category__slide {
    transform: translateX(0);
    /* width: 30%; */
  }

}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .main-nav__items {
    flex-direction: column;
    align-items: center;
  }

  .main-nav__item {
    margin: 0.5rem 0;
  }

  .category__product--image img {
    border-radius: 10px;
  }
}

@media (min-width: 825px) {
  .category {
    width: 30%;
    /* height: 75rem; */
    /*Adjust this height as needed*/
  }

  .category__all {
    margin: 10%;
    margin-bottom: 0;
  }

  .category__section {
    width: 70%;
    /* margin-top: 5%; */
    padding: 3%;
  }

  .category__product {
    /* width: calc(33.33% - 3%); */
    /*To create space between products*/
    margin: 1%;
  }

  .category__menu--items {
    font-size: 1.7rem;
  }

  body {
    font-size: 100%;
    /*Reset font size to default*/
  }

  /* Adjust other styles as needed for larger screens */
}

@media (min-width: 950px) {
  .category {
    width: 30%;
    /* height: 75rem; */
    /*Adjust this height as needed*/
  }

  /* .category__all {
    margin: 10%;
    margin-bottom: 0;
  } */

  .category__section {
    width: 70%;
    /* margin-top: 5%; */
    padding: 3%;
  }

  .category__menu--items {
    font-size: 1.7rem;
  }

  body {
    font-size: 100%;
    /*Reset font size to default*/
  }



  /* Adjust other styles as needed for larger screens */
}

@media (max-width: 1150px) {
  .category__product {
    width: 40%;
  }
}







/* .productsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
} */

/* .products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 30vh;
} */

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;

}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #f88ad3;
}

.pageLinkActive {
  color: white;
}

/* .filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
} */

/* .categoryBox {
  padding: 0%;
} */

/* .category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 0.8vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
} */
/* .category-link:hover {
  color: tomato;
} */

/* .filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
} */